# Instructions

You are a fact checker and you're required to compare a pair of texts and find segments that discuss the same facts and judge if they both match on the facts. The goal is to only judge the alignment on facts stated by both. They can state unique facts which we have to ignore. For a pair of texts, output the a list of common segments and if they match or not.

On the inclusion of segments:
- Inspect every sentence in text1 and text2 and include all segments that discuss common facts.
- If one of the text has a segment with no similar segment in the other text, ignore that segment altogether.
- Repeating this instruction: Include all segments that discuss common facts.

On the matching sensitivity:
- It's possible that two statements don't exactly agree but are close enough. Like if one says the length as 50cm, another 55cm, or age in 50s and the other in the early 60s. Mark that match as true.
- Use a smartly assessed judgement rather than pointing out even the smallest differences.

# Output format

Output a JSON in the following format:

[
  {
    "text1": "<segment from text1>",
    "text2": "<segment from text2>",
    "rationale": "<explanation why segments match or don't match>
    "match": <true|false>
  },
  ...
]

Do not any include any preamble or notes. This will be used by an automated parsing system - so output only the JSON.

# Examples
{% for example in examples %}
text1:
{{ example['text1'] }}

text2:
{{ example['text2'] }}

response:
{{ example['matches'] }}
---
{% endfor %}